<main class="min-h-screen bg-gray-50 flex items-center justify-center">
  <div class="content w-full max-w-xl bg-white rounded-lg shadow-lg p-8">
    <h2 class="text-2xl font-bold mb-6 text-center">
      Main Profession Categories
    </h2>
    <app-category-list
      [categories]="categories"
      (categorySelected)="onCategoryClick($event)"
    >
    </app-category-list>
    @if(selectedCategory) {
    <app-position-list
      [positions]="positions"
      (positionSelected)="onPositionClick($event)"
    >
    </app-position-list>
    } @if(selectedPosition) {
    <app-interview-prep-list
      [questions]="interviewPrep"
      (questionSelected)="onQuestionClick($event)"
    >
    </app-interview-prep-list>
    } @if(selectedQuestion && suggestedAnswers.length > 0) {
    <app-suggested-answers
      [question]="selectedQuestion"
      [answers]="suggestedAnswers"
    >
    </app-suggested-answers>
    }
  </div>
</main>
