<aside
  class="hidden md:flex flex-col w-64 bg-white/60 backdrop-blur-md border-r border-gray-200 shadow-lg p-6 h-full"
>
  <div class="mb-8 flex justify-center">
    <img
      src="app/assets/logo.png"
      alt="Interview Prep Logo"
      class="h-22 w-auto"
    />
  </div>
  <nav class="flex flex-col gap-2 mt-4">
    <span class="text-gray-500 text-sm">Navigation</span>
    <a
      routerLink="/"
      class="py-2 px-4 rounded-lg hover:bg-purple-100 text-gray-700 font-medium transition"
      >Home</a
    >
    <a
      routerLink="/help"
      class="py-2 px-4 rounded-lg hover:bg-purple-100 text-gray-700 font-medium transition"
      >Help</a
    >
  </nav>
  <div class="mt-auto pt-8">
    <span class="text-xs text-gray-400">© 2025 VK</span>
  </div>
</aside>
